.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h2 Edit profile
      .panel-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-group

            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}

            - if @user.avatar?
              =image_tag @user.avatar.url(:medium)
            = f.input :avatar, as: :file, input_html: { class: 'form-control'}
            = f.input :first_name, required: true, input_html: { class: 'form-control' }
            = f.input :last_name, required: true, input_html: { class: 'form-control' }
            = f.input :phone, required: true, input_html: { class: 'form-control' }
            = f.input :city, required: true, input_html: { class: 'form-control' }
            = f.input :street, required: true, input_html: { class: 'form-control' }
            = f.input :password, label: 'New password', autocomplete: "off", required: false, input_html: { class: 'form-control' }
            = f.input :password_confirmation, required: false
            = f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: 'form-control' }
          %br/
          .form-actions
            = f.button :submit, "Update", class: "btn btn-primary"
          %br/
      .panel-footer
        %p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
