= simple_form_for "search", url: adverts_path, input_html: { id: 'filter' },
                  method: 'get' do |f|
  = f.input :advert_type, required: true, collection: ['Nanny', 'Child'],
             label: 'Looking for'
  = f.input :job_type, required: true, collection: ['Full-time', 'Part-time'],
             label: 'Job type'
  = f.input :city, required: true, collection: Advert.distinct.all.pluck(:city),
             label: 'City'
  = f.input :price, collection: 1..1000, prompt: "Select price"
  = f.button :submit, "Search", class: "btn btn-primary"

%ul
  -@adverts.each do |advert|
    %li.advert
      = link_to advert do
        .image-wrapper
          = image_tag advert.user.avatar.url(:small)
        .content-wrapper
          = advert.title
          .categories
            = advert.job_type
          .location
            = advert.city + ', ' + advert.street

        .prize-wrapper
          = advert.price.to_s + '$ ph'

= link_to 'New Advert', new_advert_path
