= simple_form_for "search", url: adverts_path, input_html: { id: 'filter' },
                  method: 'get' do |f|

  = f.input :advert_type, required: true, collection: ['care', 'job'],
             label: 'Looking for'

  = f.input :job_type, required: true, collection: ['full_time', 'part_time'],
             label: false, prompt: 'Job type'
  = f.input :city, required: true, collection: Advert.distinct.all.pluck(:city),
             label: false, prompt: "City"
  = f.input :price, collection: 1..1000, label: false, prompt: "Price per hour"
  = f.button :submit, "Search", class: "btn btn-primary"

%ul
  -@adverts.each do |advert|
    %li.advert
      = link_to advert do
        .image-wrapper
          = image_tag advert.user.avatar.url(:small)
        .content-wrapper
          .title
            = advert.title
          .job-type
            = advert.job_type
          .location
            = advert.city + ', ' + advert.street
        .prize-wrapper
          = advert.price.to_s + '$ ph'
        .data-wrapper
          = advert.created_at.strftime("%d/%m/%Y")

          = will_paginate @adverts

