%p#notice= notice

%p
  %b Title:
  = @advert.title
%p
  %b City:
  = @advert.city
%p
  %b Street:
  = @advert.street
%p
  %b Phone:
  = @advert.phone
%p
  %b Address:
  = @advert.locations.first.address
%p
  %b Map:
  = image_tag "http://maps.google.com/maps/api/staticmap?size=700x400&sensor=false&zoom=16&markers=#{@advert.locations.first.latitude}%2C#{@advert.locations.first.longitude}"
  

= link_to 'Edit', edit_advert_path(@advert)
\|
= link_to 'Back', adverts_path