!!!
%html
  %head
    %title BestNanny
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'

    - if notice
      #notice-wrapper
        %p#notice= notice
    - elsif alert
      #notice_wrapper
        %p#alert= alert

    .container
      = yield
    = render 'layouts/footer'
